<% provide :title, t("help")%>
<h1><%=t "help" %></h1>
<p>
  <%=t "help1" %>
  <%= link_to "http://www.railstutorial.org/help" do %>
  Rails Tutorial <%= t "help"%>
  <% end %>
  .
  <%=t "read1" %>
  <%= link_to "http://www.railstutorial.org/book" do %>
  <em>Ruby on Rails Tutorial.</em>
  <% end %>
</p>
