<% provide :title, t("title.home") %>
<div class="center jumbotron">
<h1><%= t "welcome" %></h1>
<p>
  <%= t "main"%>
  <%= link_to "http://www.railstutorial.org/" do %>
  Ruby on Rails Tutorial
  <% end %>
  <%= t "title.sample"%>.
</p>
<%= link_to t("signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            "http://rubyonrails.org/" %>
