<footer class="footer">
  <small>
    <%= link_to "Ruby on Rails Tutorial","https://www.railstutorial.org/"%>
    <%= link_to "Michael Hartl","http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title.about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"),"http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
